layout: index
description: ParaViewWeb is a Web framework which allow to bring the power of ParaView and VTK into the Web.
subtitle: Framework for bringing scientific visualization to the Web
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-th-large
      h3.intro-feature-title ParaView
      p.intro-feature-desc ParaView can be used to process big data and produce interactive visualization.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-terminal
      h3.intro-feature-title VTK
      p.intro-feature-desc VTK can be used as backend for building interactive visualization in the web.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud
      h3.intro-feature-title Visualizer
      p.intro-feature-desc ParaView like application for your web browser.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-rocket
      h3.intro-feature-title ArcticViewer
      p.intro-feature-desc Fast and interactive artifact viewer for data generated using ParaView or VTK.
