layout: index
description:
subtitle: VTK/ParaView Web a framework for bringing data processing and visualization to the Web
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-th-large
      h3.intro-feature-title ParaView
      p.intro-feature-desc ParaView can be used as backend to process big data and produce interactive visualization.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-terminal
      h3.intro-feature-title VTK
      p.intro-feature-desc VTK can be used as backend for building interactive visualization in the web.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud
      h3.intro-feature-title
        a(href="https://kitware.github.io/visualizer").link Visualizer
        img(style="padding-left: 25px",src="https://badge.fury.io/js/pvw-visualizer.svg")
      p.intro-feature-desc ParaView like application for your web browser.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-rocket
      h3.intro-feature-title
        a(href="https://kitware.github.io/trame/").link trame
        img(style="padding-left: 25px",src="https://badge.fury.io/py/trame.svg")
      p.intro-feature-desc Web framework for building interactive web application with VTK and ParaView simply and effortlessly.
